.proposals {
  .proposals-header {
    width: 100%;
  }
}

.proposal-row {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 0.75rem 1rem;
  background-color: var(--color-background-module);
  color: var(--color-text-primary);
  transition: var(--transition-duration);

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit !important; /* no underline */
  }

  .proposal-header {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);

    .proposal-state {
      padding: 0.5rem;
      border-radius: 8px;
      text-transform: uppercase;
      font-size: 0.825rem;
      font-weight: 600;
      color: var(--color-brand);
      border: 1px solid var(--color-brand);
    }
  }

  .proposal-body {
    display: flex;
    flex-direction: column;

    h2 {
      margin-top: 0;
      margin-bottom: 0.5rem;
      font-size: 24px;
    }

    .body-description {
      color: var(--text-color);
      font-size: 18px;
      margin: 0;
    }
  }

  &:hover {
    background-color: var(--color-background-interactive);
  }
}
